python-dotenv
groq
AppOpener
pywhatkit
beautifulsoup4
pillow
rich
requests
keyboard
cohere
selenium
mtranslate
pygame
edge-tts
PyQt5
webdriver-manager
torch
torchvision
transformers
sentence-transformers
ddgs
flask
flask-socketio
flask-cors
eventlet
pycaw
screen_brightness_control
ttkbootstrap
aiohttp
comtypes
